#chat {
  display: flex;
  width: 300px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #955F79;
}
#login {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F44336;
  background-image: linear-gradient(#312D51, #955F79);
}

#login input {
  outline: 0;
  border: none;
  height: 30px;
  text-align: center;
  font-size: 14px;
  color: white;
  background: rgba(255,255,255,0.1);
}
.message {
  display: flex;
  background: white;
  width: auto;
  align-self: center;
  margin-bottom: 10px;
  max-width: 75%;
  padding: 5px;
  border-radius: 2px;
  flex-shrink: 0;
}

.message span {
  display: inline;
}

.message .username {
  font-weight: bold;
}

.message .username::after {
  content: ": ";
}

.message .text {
  text-indent: 5px;
}
#messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  background: #F1F1F1;
  padding: 5px;
  background-image: linear-gradient(#312D51, #955F79);
  flex-basis: 0px;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 13px;
}

* {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
#text-box {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 40px;
  flex: 0 1 auto;
  margin-top: auto;
}

#text-box input[type="text"] {
  display: flex;
  flex: 1;
  border: 0;
  outline: 0;
  background: #fff;
  text-indent: 20px;
  padding-right: 55px;
}

#text-box button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: -10px;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
  background: white;
  color: transparent;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}