#login {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F44336;
    background-image: linear-gradient(#312D51, #955F79);
}
#login input {
    outline: 0;
    border: none;
    height: 30px;
    text-align: center;
    font-size: 14px;
    color: white;
    background: rgba(255,255,255,0.1);
}
