.message {
    display: flex;
    background: white;
    width: auto;
    align-self: center;
    margin-bottom: 10px;
    max-width: 75%;
    padding: 5px;
    border-radius: 2px;
    flex-shrink: 0;
}
.message span {
    display: inline;
}
.message .username {
    font-weight: bold;
}
.message .username::after {
    content: ": ";
}
.message .text {
    text-indent: 5px;
}
