#text-box {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 40px;
    flex: 0 1 auto;
    margin-top: auto;
}
#text-box input[type="text"] {
    display: flex;
    flex: 1;
    border: 0;
    outline: 0;
    background: #fff;
    text-indent: 20px;
    padding-right: 55px;
}
#text-box button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: -10px;
    -webkit-appearance: none;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    color: transparent;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
